Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd

# Create a Pandas Series
data = pd.Series([4, 8, 15, 16, 23, 42])

# Print the Series
print(data)

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [1]:
import pandas as pd

my_list = [1, 5, 8, 2, 7, 4, 9, 6, 3, 0]

data_series = pd.Series(my_list)

print(data_series)

0    1
1    5
2    8
3    2
4    7
5    4
6    9
7    6
8    3
9    0
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Name
Alice

Bob

Claire

Age

25

30

27

Gender

Female

Male


Then, print the DataFrame.

In [2]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans. DataFrame:

A two-dimensional labeled data structure with columns and rows.
Can hold different data types in each column (e.g., text, numbers, booleans).
Ideal for representing tabular data with multiple related variables.
Series:

A one-dimensional labeled array capable of holding a single data type.
Useful for representing a single list of values or a collection of key-value pairs.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans. head(n): Returns the first n rows of the DataFrame (default: 5). Useful for getting a quick glimpse at the beginning of your data.

Example: You might use head() to preview your data after loading it from a CSV file to ensure it looks as expected.
tail(n): Returns the last n rows of the DataFrame (default: 5). Useful for examining the end of your data.

Example: You could use tail() to check for any unusual values or patterns at the end of your dataset.
describe(): Calculates summary statistics (mean, median, standard deviation, etc.) for numerical columns. Great for understanding the central tendency and spread of your data.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans. In pandas, all three data structures - Series, DataFrame, and Panel - are mutable in nature. This means you can modify their contents (elements, values) after they are created.

Here's a breakdown of their mutability:

Series: You can change the values within a Series, add or remove elements, and modify its index.
DataFrame: You can modify individual cells within a DataFrame, add or remove rows and columns, and change column names.
Panel (deprecated): While Panels were previously considered mutable, they are now deprecated in newer versions of pandas (since version 0.25.0). If you're using a recent pandas version, it's recommended to use alternative approaches like multi-indexing for working with 3D data structures.

Q7. Create a DataFrame using multiple Series. Explain with an example.

Ans.Here's how you can create a DataFrame using multiple Series in pandas, along with an explanation:

In [3]:

names_series = pd.Series(["Alice", "Bob", "Claire"])
age_series = pd.Series([25, 30, 27])
city_series = pd.Series(["New York", "London", "Paris"])